<footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row g-4 mb-4">
                <div class="col-12 col-md-6">
                    <h3 class="h3 fw-bold mb-3">Miguel Maureira</h3>
                    <p class="text-white-50">
                        Construyendo soluciones digitales modernas, accesibles y orientadas al usuario.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-md-end">
                    <h4 class="h5 fw-semibold mb-3">Navegación rápida</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#habilidades" class="text-white-50 text-decoration-none hover-white">Habilidades</a></li>
                        <li class="mb-2"><a href="#proyectos" class="text-white-50 text-decoration-none hover-white">Proyectos</a></li>
                        <li class="mb-2"><a href="#contacto" class="text-white-50 text-decoration-none hover-white">Contacto</a></li>
                        <li class="mb-2"> <a class="text-white-50 text-decoration-none hover-white" data-bs-toggle="offcanvas" href="#offcanvaslogin"
                        role="button" aria-controls="offcanvaslogin">
                        Inicio de sesion</a>
                </li>
                    </ul>
                </div>
            </div>

            <div class="border-top border-secondary pt-4 d-flex flex-column flex-md-row justify-content-between align-items-center">
                <p class="text-white-50 mb-0">
                    © <span id="year"></span> Miguel. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>